[submodule "addons/blender-themes"]
	path = addons/blender-themes
	url = https://github.com/kame404/blender-themes
[submodule "addons/EdgeFlow"]
	path = addons/EdgeFlow
	url = https://github.com/BenjaminSauder/EdgeFlow
[submodule "addons/mpfb2"]
	path = addons/mpfb2
	url = https://github.com/makehumancommunity/mpfb2
[submodule "addons/Screencast-Keys"]
	path = addons/Screencast-Keys
	url = https://github.com/nutti/Screencast-Keys
[submodule "addons/simple-tabs"]
	path = addons/simple-tabs
	url = https://github.com/chippwalters/simple-tabs
[submodule "addons/simple_renaming_panel"]
	path = addons/simple_renaming_panel
	url = https://github.com/Weisl/simple_renaming_panel
[submodule "addons/tree-gen"]
	path = addons/tree-gen
	url = https://github.com/friggog/tree-gen
[submodule "addons/ImagePaste"]
	path = addons/ImagePaste
	url = https://github.com/b-init/ImagePaste
[submodule "addons/BlenRig"]
	path = addons/BlenRig
	url = https://github.com/jpbouza/BlenRig
[submodule "addons/VRM-Addon-for-Blender"]
	path = addons/VRM-Addon-for-Blender
	url = https://github.com/saturday06/VRM-Addon-for-Blender
[submodule "addons/blenderkit"]
	path = addons/blenderkit
	url = https://github.com/BlenderKit/blenderkit
[submodule "addons/boneWidget"]
	path = addons/boneWidget
	url = https://github.com/waylow/boneWidget
[submodule "addons/TexTools-Blender"]
	path = addons/TexTools-Blender
	url = https://github.com/SavMartin/TexTools-Blender
[submodule "addons/blender-loom"]
	path = addons/blender-loom
	url = https://github.com/p2or/blender-loom
[submodule "addons/dynamic_parent"]
	path = addons/dynamic_parent
	url = https://github.com/romanvolodin/dynamic_parent
[submodule "addons/retopoflow"]
	path = addons/retopoflow
	url = https://github.com/CGCookie/retopoflow
[submodule "addons/blender-plugin"]
	path = addons/blender-plugin
	url = https://github.com/sketchfab/blender-plugin
[submodule "addons/animaide"]
	path = addons/animaide
	url = https://github.com/aresdevo/animaide
[submodule "addons/UvSquares"]
	path = addons/UvSquares
	url = https://github.com/Radivarig/UvSquares
